<div class="nav-header ">
    <!--- Navbar --->
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid nav-center ">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nvbCollapse" aria-controls="nvbCollapse">
                <i class="bi bi-list"></i>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="nvbCollapse">
                <ul class="navbar-nav ">
                    <a class="nav-link ml-4" href="#"></i>Home</a>
                    <a class="nav-link ml-4" href="#"></i>Trend</a>
                    <a class="nav-link ml-4" href="#"></i>Best Price</a>
                    <a class="nav-link ml-4" href="#"></i>Offers</a>
                    <a class="nav-link ml-4" href="#"></i>Pages</a>
                    <a class="nav-link ml-4" href="#"></i>Groups</a>
                </ul>
            </div>
        </div>
    </nav>
    <!--# Navbar #-->
</div>