<header class="header" id="header">
    <div class="sidenav shadow p-3 mb-5 bg-body rounded " id="sidebartoggle">
        <a href="javascript:void(0)" class="closebtn" id="btnclose" onclick="closeNav()">&times;</a>
        <a class="navbar-brand ms-auto" href="EnterAddress.html"> Mingo</a><hr>
        <h4>Catogery</h4>
        <ul class="list-unstyled ps-0">
            
            <li class="mb-1">
              <button class="btn btn-toggle align-items-center  " data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">Men's Fasion</button>
              <div class="collapse" id="home-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <h5>Cloths</h5>
                    <li><a href="/mainpage/category " class="link-dark rounded">T-Sharts</a></li>
                    <li><a href="/mainpage/category " class="link-dark rounded">trousers</a></li>
                    <li><a href="/mainpage/category " class="link-dark rounded">Sports Wear</a></li>
                    <li><a href="/mainpage/category " class="link-dark rounded">underwear</a></li>
                    <hr class="imghr">
                    <h5>Accessories</h5>
                    <li><a href="/mainpage/category " class="link-dark rounded">T-Sharts</a></li>
                    <li><a href="/mainpage/category " class="link-dark rounded">trousers</a></li>
                    <li><a href="/mainpage/category " class="link-dark rounded">Sports Wear</a></li>
                    <li><a href="/mainpage/category " class="link-dark rounded">underwear</a></li>
                </ul>
              </div>
            </li>
            <li class="mb-1">
        </ul>
        <ul class="list-unstyled ps-0">
            <li class="mb-1">
                <button class="btn btn-toggle align-items-center  " data-bs-toggle="collapse" data-bs-target="#se-collapse" aria-expanded="false">Women's Fasion</button>
                <div class="collapse" id="se-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <h5>Cloths</h5>
                    <li><a href="#" class="link-dark rounded">T-Sharts</a></li>
                    <li><a href="#" class="link-dark rounded">trousers</a></li>
                    <li><a href="#" class="link-dark rounded">Sports Wear</a></li>
                    <li><a href="#" class="link-dark rounded">underwear</a></li>
                    <hr class="imghr">
                    <h5>Accessories</h5>
                    <li><a href="#" class="link-dark rounded">Watches</a></li>
                    <li><a href="#" class="link-dark rounded">Glasses</a></li>
                    <li><a href="#" class="link-dark rounded">Sports Shoes</a></li>
                    <li><a href="#" class="link-dark rounded">Jellawry</a></li>
                    <li><a href="#" class="link-dark rounded">Eyewaer</a></li>
                </ul>
              </div>
            </li>
            <li class="mb-1">
        </ul>
        <ul class="list-unstyled ps-0">
            <li class="mb-1">
              <button class="btn btn-toggle align-items-center rounded " data-toggle="collapse" data-target="#kidsFasion" aria-expanded="false">Kids Fasion</button>
              <div class="collapse" id="kidsFasion">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <h5>Cloths</h5>
                    <li><a href="#" class="link-dark rounded">Boys Clothes</a></li>
                    <li><a href="#" class="link-dark rounded">girls Clothes</a></li>
                    
                </ul>
              </div>
            </li>
            <li class="mb-1">
        </ul><hr class="imghr">
        <ul class="list-unstyled ps-0">
            <li class="mb-1">
              <button class="btn btn-toggle align-items-center rounded " data-toggle="collapse" data-target="#toys"aria-expanded="false">Toys & Gams</button>
              <div class="collapse" id="toys">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded">Baby Fasion</a></li>
                    <li><a href="#" class="link-dark rounded">Action Fires</a></li>
                    <li><a href="#" class="link-dark rounded">Construction Toys</a></li>
                    <li><a href="#" class="link-dark rounded">Outdoor play</a></li>
                </ul>
              </div>
            </li>
            <li class="mb-1">
        </ul>
        <ul class="list-unstyled ps-0">
            <li class="mb-1">
              <button class="btn btn-toggle align-items-center rounded collapsed" data-toggle="collapse" data-target="#books"aria-expanded="false">Books</button>
              <div class="collapse " id="books">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <h5>trend</h5>
                    <li><a href="#" class="link-dark rounded">Student Books</a></li>
                    <li><a href="#" class="link-dark rounded">Kids Books</a></li>
                    <li><a href="#" class="link-dark rounded">Storys</a></li>
                    <hr class="imghr">
                    <h5>General</h5>
                    <li><a href="#" class="link-dark rounded">Hostry Books</a></li>
                    <li><a href="#" class="link-dark rounded">Horror Books</a></li>
                    <li><a href="#" class="link-dark rounded">Romance Books</a></li>
                    <li><a href="#" class="link-dark rounded">Potery Books</a></li>
                    <li><a href="#" class="link-dark rounded">Political thriller</a></li>
                    <h5>Novel</h5>
                    <li><a href="#" class="link-dark rounded">Horror</a></li>
                    <li><a href="#" class="link-dark rounded">Crime</a></li>
                    <li><a href="#" class="link-dark rounded">Fantasy</a></li>
                    <li><a href="#" class="link-dark rounded">Hostrical </a></li>
                    <li><a href="#" class="link-dark rounded">Classic </a></li>
                </ul>
              </div>
            </li>
            <li class="mb-1">
        </ul>
        <ul class="list-unstyled ps-0">
            <li class="mb-1">
              <button class="btn btn-toggle align-items-center rounded collapsed" data-toggle="collapse" data-target="#mobiles"aria-expanded="false">Mobiles & Tablets & Accessories</button>
              <div class="collapse" id="mobiles">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <h5>Phons</h5>
                    <li><a href="#" class="link-dark rounded">Iphone</a></li>
                    <li><a href="#" class="link-dark rounded">Samsung</a></li>
                    <li><a href="#" class="link-dark rounded">Xiaomi</a></li>
                    <li><a href="#" class="link-dark rounded">Realmi</a></li>
                    <hr class="imghr">
                    <h5>Tablets</h5>
                    <li><a href="#" class="link-dark rounded">Samsung Tablet</a></li>
                    <li><a href="#" class="link-dark rounded">iphone Tablet</a></li>
                </ul>
              </div>
            </li>
            <li class="mb-1">
        </ul>
        
        <ul class="list-unstyled ps-0">
            <li class="mb-1">
              <button class="btn btn-toggle align-items-center rounded collapsed" data-toggle="collapse" data-target="#electronics"aria-expanded="false">Electronics & Home Decices</button>
              <div class="collapse " id="electronics">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <h5>Home Devices</h5>
                    <li><a href="#" class="link-dark rounded">Smart TV</a></li>
                    <li><a href="#" class="link-dark rounded">washing Machine</a></li>
                    <li><a href="#" class="link-dark rounded">Air conditioner</a></li>
                    <li><a href="#" class="link-dark rounded">radio</a></li>
                    <hr class="imghr">
                    <h5>Kichen Devices</h5>
                    <li><a href="#" class="link-dark rounded">Microwave</a></li>
                    <li><a href="#" class="link-dark rounded">Blender</a></li>
                    <li><a href="#" class="link-dark rounded">Cooker</a></li>
                    <li><a href="#" class="link-dark rounded">Oven</a></li>
                </ul>
              </div>
            </li>
            <li class="mb-1">
        </ul>
        <ul class="list-unstyled ps-0">
            <li class="mb-1">
              <button class="btn btn-toggle align-items-center rounded collapsed" data-toggle="collapse" data-target="#computer"aria-expanded="false">Computers & Laptops</button>
              <div class="collapse " id="computer">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <h5>Windows Computer</h5>

                    <li><a href="#" class="link-dark rounded">Lenovo</a></li>
                    <li><a href="#" class="link-dark rounded">Samsung</a></li>
                    <li><a href="#" class="link-dark rounded">Msi</a></li>
                    <li><a href="#" class="link-dark rounded">HP</a></li>
                    <hr class="imghr">
                    <h5>Apple</h5>
                    <li><a href="#" class="link-dark rounded">Mac Book</a></li>
                    <li><a href="#" class="link-dark rounded">Mac Book Pro</a></li>
                </ul>
              </div>
            </li>
            <li class="mb-1">
        </ul>
        <ul class="list-unstyled ps-0">
            <li class="mb-1">
              <button class="btn btn-toggle align-items-center rounded collapsed" data-toggle="collapse" data-target="#furnture"aria-expanded="false">Home Furniture</button>
              <div class="collapse " id="furnture">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded">All Furniture</a></li>
                    <li><a href="#" class="link-dark rounded">Living Room</a></li>
                    <li><a href="#" class="link-dark rounded">BedRoom</a></li>
                    <li><a href="#" class="link-dark rounded">Office Furniture</a></li>
                </ul>
              </div>
            </li>
            <li class="mb-1">
        </ul>
        <ul class="list-unstyled ps-0">
            <li class="mb-1">
              <button class="btn btn-toggle align-items-center rounded collapsed" data-toggle="collapse" data-target="#kitchen">Kitchen Tools</button>
              <div class="collapse " id="kitchen">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded">Coffee Markers</a></li>
                    <li><a href="#" class="link-dark rounded">Blender</a></li>
                    <li><a href="#" class="link-dark rounded">Large Appliance</a></li>
                    <li><a href="#" class="link-dark rounded">Vacuums</a></li>
                </ul>
              </div>
            </li>
            <li class="mb-1">
        </ul>
        <ul class="list-unstyled ps-0">
            <li class="mb-1">
              <button class="btn btn-toggle align-items-center rounded collapsed" data-toggle="collapse" data-target="#Music">Music</button>
              <div class="collapse " id="Music">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded">Romantic</a></li>
                    <li><a href="#" class="link-dark rounded">Rapp</a></li>
                </ul>
              </div>
            </li>
            <li class="mb-1">
        </ul>
        <ul class="list-unstyled ps-0">
            <li class="mb-1">
              <button class="btn btn-toggle align-items-center rounded collapsed" data-toggle="collapse" data-target="#Movies">Movies</button>
              <div class="collapse " id="Movies">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded">Action Movies</a></li>
                    <li><a href="#" class="link-dark rounded">Drama</a></li>
                    <li><a href="#" class="link-dark rounded">Romantic</a></li>
                    <li><a href="#" class="link-dark rounded">Story</a></li>
                    <li><a href="#" class="link-dark rounded">Egyption Movies</a></li>
                    <li><a href="#" class="link-dark rounded">American Movies</a></li>
                </ul>
              </div>
            </li>
            <li class="mb-1">
        </ul>
        <ul class="list-unstyled ps-0">
            <li class="mb-1">
              <button class="btn btn-toggle align-items-center rounded collapsed" data-toggle="collapse" data-target="#Programes">Programes</button>
              <div class="collapse " id="Programes">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded">Ios Programs</a></li>
                    <li><a href="#" class="link-dark rounded">Android Programs</a></li>
                    <li><a href="#" class="link-dark rounded">Windows Programs</a></li>
                    <li><a href="#" class="link-dark rounded">Linux Tools</a></li>
                </ul>
              </div>
            </li>
            <li class="mb-1">
        </ul>
        <div class="sidebaracount">
            <a href="#">Your Account</a>
            <a href="#">Language</a>
            <a href="#">Country</a>
            <a href="#">Sign Up</a>
        </div>
    </div>
    <button class="navbar-toggler"  onclick="togglebar()" type="button" >
        <i class="bi bi-list"></i>
    </button>
<!-- End Of Side bar -->
    <%- include("./header") %> 
    </div>
</header>
<!-- Side Bar -->
