
  img {
    max-width: 100%;
  }
  .divimage{
      max-height: 210px;
  }
  .container{
    padding: 0;
  }

.relatedProductsimage{
      width: 90%;
      padding-left: 10%;
  }
  .checked{
    color: orange;
}
.btnAddCartproduct{
    border: 2px solid orange;
    border-radius: 10px;
}
.btnAddCartproduct:hover{
    background-color: orange;
}   
.btnAddCart:hover{
    background-color: rgb(212, 211, 211);
}
.productboxdetail{
  bottom: 38px;
    padding: 10px;
    padding-right: 17px;
}
.nowrap{white-space: nowrap;}

.track::-webkit-scrollbar {
    display: none;
  }
  .track{
    display: inline-flex;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    /* transform: translateX(20px); */
  }
  .card{
    min-height: 399px;
  }
  .card-container{
    transform: translateX(-62px);
    width: 20px;
    padding: 0 10px;
    transition: .3s;
    position: relative;
  }
  .btnonhoverproductbox{
    /* margin-bottom: auto; */
    padding: 10px;
  }
  .leftarrow{
    position: sticky;
    height: 100px;
    top: 10rem;
    background-color: #181818;
    color: #fff;
    padding: 20px;
    opacity: .4;
    left: 8px;
    z-index: 1;
  }
  .leftarrow:hover{
    transform: translateX(20px);
    opacity: .6;
    color: #fff;
    transition: .2s;
  }
  .Rightarrow{
    position: sticky;
    height: 100px;
    top: 10rem;
    background-color: #181818;
    color: #fff;
    padding: 20px;
    opacity: .4;
    right: 12px;
    z-index: 1;
  }
  .Rightarrow:hover{
    transform: translateX(-20px);
    opacity: .6;
    color: #fff;
    transition: .2s;
  }